body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.header {
    background: url('https://images.unsplash.com/photo-1520801624536-d16901963904?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    margin-bottom: 20px; 
    border-radius: 5px;
    height: 50px;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size:1em;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin-top: 100px;
    padding: 20px;
}

.header-text {
    margin-bottom: 20px;
    text-align: center;
}

.header-text h1 {
    font-size: 3em;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.header-text p {
    font-size: 1.2em;
    margin-top: 10px;
}

.transaction-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    color:black;
}

.transaction-form label {
    margin-bottom: 5px;
    font-weight: 600;
    color:white;
}

.transaction-form input, .transaction-form select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.transaction-form button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.transaction-form button:hover {
    background-color: #0056b3;
}


.transaction-table {
    width: 100%;
    overflow-x: auto;
}

.transaction-table table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.transaction-table th, .transaction-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color:black;
}

.transaction-table th {
    background-color: #f4f4f4;
    font-weight: 700;
}

.transaction-table tr:hover {
    background-color: #f9f9f9;
}

.footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer p {
    margin: 5px 0;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}
